body  
   { background-image: url("background2.png"); 
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
   }

h1 {
    color: white;
}

TBox {
    margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 2;
}

